body {
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

header h1 {
    position: relative;
    z-index: 2;
    color:rgb(252, 175, 33);
    text-shadow: 3px 3px 3px #000000;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
}

header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;    
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a:hover {
    color: #008500;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: rgb(62, 67, 71);
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(62, 67, 71);
    font-family: 'Times New Roman', Times, serif;
}